<?xml version="1.0" encoding="UTF-8"?>
<SITE>
<MENUS>
<!--  系统管理菜单项*********************************************************-->
	<MENU>
		<ID>1</ID>
		<PARENTID></PARENTID>
		<URL>#</URL>
		<TITLE>系统管理</TITLE>
		<LEVEL>1</LEVEL>
		<ISLEAF>0</ISLEAF>
	</MENU>
	<MENU>
		<ID>11</ID>
		<PARENTID>1</PARENTID>
		<URL>#</URL>
		<TITLE>黑名单管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>12</ID>
		<PARENTID>1</PARENTID>
		<URL>#</URL>
		<TITLE>主题管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>13</ID>
		<PARENTID>1</PARENTID>
		<URL>#</URL>
		<TITLE>方向管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>14</ID>
		<PARENTID>1</PARENTID>
		<URL>#</URL>
		<TITLE>组织机构管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>15</ID>
		<PARENTID>1</PARENTID>
		<URL>#</URL>
		<TITLE>数据量统计</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>16</ID>
		<PARENTID>1</PARENTID>
		<URL>#</URL>
		<TITLE>资源目录管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>17</ID>
		<PARENTID>1</PARENTID>
		<URL>system/sysUser.do</URL>
		<TITLE>系统用户管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>18</ID>
		<PARENTID>1</PARENTID>
		<URL>#</URL>
		<TITLE>角色权限管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>19</ID>
		<PARENTID>1</PARENTID>
		<URL>#</URL>
		<TITLE>组织机构管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	
	
	<!--  元数据管理菜单项***************************************************-->
	<MENU>
		<ID>2</ID>
		<PARENTID></PARENTID>
		<URL>#</URL>
		<TITLE>元数据管理</TITLE>
		<LEVEL>1</LEVEL>
		<ISLEAF>0</ISLEAF>
	</MENU>
	<MENU>
		<ID>21</ID>
		<PARENTID>2</PARENTID>
		<URL>#</URL>
		<TITLE>代码集管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>22</ID>
		<PARENTID>2</PARENTID>
		<URL>#</URL>
		<TITLE>数据指标管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>23</ID>
		<PARENTID>2</PARENTID>
		<URL>#</URL>
		<TITLE>数据元管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>24</ID>
		<PARENTID>2</PARENTID>
		<URL>#</URL>
		<TITLE>行业分类管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>25</ID>
		<PARENTID>2</PARENTID>
		<URL>#</URL>
		<TITLE>地市管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	
	
	<!--  黑名单报警菜单项*************************************************-->
	<MENU>
		<ID>3</ID>
		<PARENTID></PARENTID>
		<URL>#</URL>
		<TITLE>黑名单报警</TITLE>
		<LEVEL>1</LEVEL>
		<ISLEAF>0</ISLEAF>
	</MENU>
	<MENU>
		<ID>31</ID>
		<PARENTID>3</PARENTID>
		<URL>#</URL>
		<TITLE>黑名单报警信息</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>32</ID>
		<PARENTID>3</PARENTID>
		<URL>#</URL>
		<TITLE>黑名单列表</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	
	
	<!--  对比查询菜单项*****************************************************-->
	<MENU>
		<ID>4</ID>
		<PARENTID></PARENTID>
		<URL>#</URL>
		<TITLE>对比查询</TITLE>
		<LEVEL>1</LEVEL>
		<ISLEAF>0</ISLEAF>
	</MENU>
	<MENU>
		<ID>41</ID>
		<PARENTID>4</PARENTID>
		<URL>#</URL>
		<TITLE>对比查询列表</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	
	
	<!--  业务审批菜单项****************************************************-->
	<MENU>
		<ID>5</ID>
		<PARENTID></PARENTID>
		<URL>#</URL>
		<TITLE>业务审批</TITLE>
		<LEVEL>1</LEVEL>
		<ISLEAF>0</ISLEAF>
	</MENU>
	<MENU>
		<ID>51</ID>
		<PARENTID>5</PARENTID>
		<URL>#</URL>
		<TITLE>已归档申请</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>52</ID>
		<PARENTID>5</PARENTID>
		<URL>#</URL>
		<TITLE>已办申请</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>53</ID>
		<PARENTID>5</PARENTID>
		<URL>#</URL>
		<TITLE>待办申请</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>54</ID>
		<PARENTID>5</PARENTID>
		<URL>#</URL>
		<TITLE>我的申请</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>


	<!--  个人空间菜单项****************************************************-->
	<MENU>
		<ID>6</ID>
		<PARENTID></PARENTID>
		<URL>#</URL>
		<TITLE>个人空间</TITLE>
		<LEVEL>1</LEVEL>
		<ISLEAF>0</ISLEAF>
	</MENU>
	<MENU>
		<ID>61</ID>
		<PARENTID>6</PARENTID>
		<URL>#</URL>
		<TITLE>备忘录</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>62</ID>
		<PARENTID>6</PARENTID>
		<URL>#</URL>
		<TITLE>查询管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>63</ID>
		<PARENTID>6</PARENTID>
		<URL>#</URL>
		<TITLE>数据资料管理</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	
	
	<!--  固定查询菜单项****************************************************-->
	<MENU>
		<ID>7</ID>
		<PARENTID></PARENTID>
		<URL>#</URL>
		<TITLE>固定查询</TITLE>
		<LEVEL>1</LEVEL>
		<ISLEAF>0</ISLEAF>
	</MENU>
	<MENU>
		<ID>71</ID>
		<PARENTID>7</PARENTID>
		<URL>#</URL>
		<TITLE>综合分析</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>72</ID>
		<PARENTID>7</PARENTID>
		<URL>#</URL>
		<TITLE>民航飞行分析</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>73</ID>
		<PARENTID>7</PARENTID>
		<URL>#</URL>
		<TITLE>出入境分析</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>74</ID>
		<PARENTID>7</PARENTID>
		<URL>#</URL>
		<TITLE>宾馆住宿分析</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>75</ID>
		<PARENTID>7</PARENTID>
		<URL>#</URL>
		<TITLE>通讯分析</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>76</ID>
		<PARENTID>7</PARENTID>
		<URL>#</URL>
		<TITLE>常用查询</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	
	
	<!--  综合查询菜单项*******************************************************-->
	<MENU>
		<ID>8</ID>
		<PARENTID></PARENTID>
		<URL>#</URL>
		<TITLE>综合查询</TITLE>
		<LEVEL>1</LEVEL>
		<ISLEAF>0</ISLEAF>
	</MENU>
	<MENU>
		<ID>81</ID>
		<PARENTID>8</PARENTID>
		<URL>#</URL>
		<TITLE>人物关联查询</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>82</ID>
		<PARENTID>8</PARENTID>
		<URL>#</URL>
		<TITLE>搜索引擎查询</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>83</ID>
		<PARENTID>8</PARENTID>
		<URL>#</URL>
		<TITLE>高级查询</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>84</ID>
		<PARENTID>8</PARENTID>
		<URL>#</URL>
		<TITLE>分类查询</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>85</ID>
		<PARENTID>8</PARENTID>
		<URL>#</URL>
		<TITLE>主题查询</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	
	
	<!--  资源目录菜单项****************************************************-->
	<MENU>
		<ID>9</ID>
		<PARENTID></PARENTID>
		<URL>#</URL>
		<TITLE>资源目录</TITLE>
		<LEVEL>1</LEVEL>
		<ISLEAF>0</ISLEAF>
	</MENU>
	<MENU>
		<ID>91</ID>
		<PARENTID>9</PARENTID>
		<URL>#</URL>
		<TITLE>文档库列表</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
	<MENU>
		<ID>92</ID>
		<PARENTID>9</PARENTID>
		<URL>#</URL>
		<TITLE>数据资源列表</TITLE>
		<LEVEL>2</LEVEL>
		<ISLEAF>1</ISLEAF>
	</MENU>
</MENUS>
</SITE>