<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.liusy.analysismodel.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="日志监控"
            class="com.liusy.analysismodel.Perspective"
            id="DataAdminPlatform.perspective">
      </perspective>
      <perspective
            name="分析模板"
            class="com.liusy.analysismodel.template.AnalysisPerspective"
            id="DataAdminPlatform.analysisPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="欢迎"
            class="com.liusy.analysismodel.View"
            allowMultiple="true"
            id="DataAdminPlatform.view">
      </view>
      <view
            name="分析模版"
            class="com.liusy.analysismodel.template.TemplateView"
            allowMultiple="true"
            id="DataAdminPlatform.view2">
      </view>
      <view
            name="系统日志"
            class="com.liusy.analysismodel.log.view.SystemLogView"
            allowMultiple="true"
            id="DataAdminPlatform.log.view.SystemLogView">
      </view>
      <view
            name="应用日志"
            class="com.liusy.analysismodel.log.view.ApplayLogView"
            allowMultiple="true"
            id="DataAdminPlatform.log.view.ApplayLogView">
      </view>
      <view
            name="登陆日志"
            class="com.liusy.analysismodel.log.view.LogonLogView"
            allowMultiple="true"
            id="DataAdminPlatform.log.view.LogonLogView">
      </view>
      <view
            name="审计用户日志"
            class="com.liusy.analysismodel.log.view.UserAudioLogView"
            allowMultiple="true"
            id="DataAdminPlatform.log.view.UserAudioLogView">
      </view>
      <view
            name="统计用户使用功能"
            class="com.liusy.analysismodel.log.view.UserStaticLogView"
            allowMultiple="true"
            id="DataAdminPlatform.view.log.UserStaticLogView">
      </view>
      <view
            name="日志导入"
            class="com.liusy.analysismodel.log.view.LogImportView"
            id="DataAdminPlatform.log.view.LogImportView">
      </view>
      <view
            name="日志导出"
            class="com.liusy.analysismodel.log.view.LogExportView"
            id="DataAdminPlatform.log.view.LogExportView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
     <!--
      <editor
            class="com.liusy.analysismodel.template.ui.PracticeEditorTest"
            icon="icons/logo.gif"
            default="true"
            contributorClass="com.liusy.analysismodel.template.actions.DiagramActionBarContributor"
            name="Practice Editor"
            id="DataAdminPlatform.PracticeEditorTest"
            extensions="Diagram"/>
      -->
      <editor
            class="com.liusy.analysismodel.template.ui.PracticeEditor"
            contributorClass="com.liusy.analysismodel.template.actions.DiagramActionBarContributor"
            default="true"
            extensions="Diagram"
            icon="icons/logo.gif"
            id="DataAdminPlatform.PracticeEditor"
            name="Practice Editor">
      </editor>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="DataAdminPlatform.application"
            name="ThunisoftDataAdmin">
         <property
               name="appName"
               value="ThunisoftDataAdmin">
         </property>
      </product>
   </extension>
   <!--
    <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="com.free.proj.actionset.actionSet">
         <menu
               id="sampleMenu"
               label="Sample &amp;Menu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="com.liusy.analysismodel.example.actions.SampleAction"
               tooltip="ActionSet Test"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="com.free.proj.actionset.actions.SampleAction">
         </action>
      </actionSet>
   </extension>
	/-->
</plugin>
